body {
  margin: 0;
}

section {
  border: 10px solid blue;
}

p {
  /* border: 1px solid red; */
}
/* select the PARAGRAPHS that are children of the element with the class name .BLOCK */
.block p {

}

/* select only the PARAGRAPHS that are direct children of the element with the class name .BLOCK */
.block > p {
  /* by default P is a block level element */
  display: block;
}
.inline > p {
  display: inline;
}
.inline-block > p {
  display: inline-block;
}


/* FLOATS */
img {
  margin: 20px;
}
.float-left > img {
  float: left;
}

.float-right > img {
  float: right;
}

.float-both .left-float {
  width: 50%;
  float: left;
}

.float-both .right-float {
  width: 50%;
  float: right;
}

/*  Clearing floats
    To clear a float, add the clear property to the element that needs to clear the float. This is usually the element after the floated element. The clear property can take the values of left , right , and both .
    http://web.simmons.edu/~grovesd/comm328/modules/layout/clearfix
*/
.clear-left {
  clear: left;
}
.clear-right {
  clear: right;
}
.clear-both {
  clear: both;
}